body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $main-dark;

    &::before {
        visibility: hidden;
        content: '//{"xs": "#{$xs}", "sm": "#{$sm}", "md": "#{$md}", "lg": "#{$lg}", "xl": "#{$xl}"}//';
        position: absolute;
        top: -999px;
    }
}

a {
    position: relative;
    color: inherit;
    z-index: 0;
    transition: $speed $cubic;

    &::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $red;
        opacity: .3;
        transition: $speed $cubic;
        z-index: -1;
    }
    &:hover {
        color: $red;
        &::after {
            opacity: 1;
        }
    }

    &.router-link-exact-active {
        color: $red;

        &::after {
            opacity: 1;
        }
    }
}

[v-cloak] {
    display: none;
}

.theme-dark {
    background-color: $main-dark;
    color: $main-light;
}
.theme-dark-2 {
    background-color: $main-dark-2;
    color: $main-light-20;
}

.theme-light {
    background-color: $main-light;
    color: $main-dark-2;
}

.align-right {
    text-align: right;
}