.app {
    position: relative;
    width: 100%;

    @media screen and (min-width: $sm) {
        height: 100%;
    }
}

.main-container {
    position: relative;
    display: flex;

    @media screen and (min-width: $sm) {
        height: 100%;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    padding: 40px;
    @media screen and (min-width: $sm) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20vh 40px;
    }
    @media screen and (min-width: $lg) {
        padding: 30vh 40px;
    }
    @media screen and (min-width: $xl) {
        padding: 30vh 160px;
    }
}

.content {
    position: relative;
    width: 100%;
    max-width: 450px;
    margin-bottom: 40px;
}

.contact-links {
    &__list {
        padding: 0;
    }

    &__item {
        margin-bottom: 5px;
        color: $main-light-4;

        &:last-child {
            margin-bottom: 0;
        }

        & .icon {
            margin-right: 10px;
        }
    }
}